.section {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	padding: 50px 0;
	background-color: var(--g-color-1);
}
.title {
	margin-bottom: 50px;
	font-weight: bold;
}
.table td,
.table th {
	vertical-align: middle !important;
}
/* Remove controls from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0; /* Removes leftover margin */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--g-color-grey);
	transition: background-color 5000s ease-in-out 0s;
}
input {
	min-width: 350px;
	height: 45px;
	margin-bottom: 20px;
	padding: 0 25px;
	border: none;
	border-radius: 50px;
	font-weight: bold;
	background-color: var(--g-line-grey);
	color: var(--g-color-grey);
	box-shadow: none;
	transition: .3s;
}
input::placeholder {
	color: var(--g-light-grey);
}
input:focus {
	outline: none;
	box-shadow: 0px 0px 10px var(--g-color-2);
}
.error {
	font-weight: bold;
	color: var(--g-color-red);
}
.required {
	width: 0;
	height: 25px;
	opacity: 0;
	margin-bottom: 10px;
	font-weight: bold;
	color: var(--g-color-red);
	overflow: hidden;
}
.required > span {
	min-width: 300px;
	display: block;
}
.required-anim {
	width: 0;
	opacity: 1;
	animation-name: required-anim;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
@keyframes required-anim {
	form {
		width: 0;
	}
	to {
		width: 350px;
	}
}
.button {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	border-radius: 50px;
	letter-spacing: 1px;
	text-decoration: none !important;
	font-size: 1rem;
	font-weight: bold;
	background-color: var(--g-color-2);
	color: var(--g-color-white);
	cursor: pointer;
	transition: .3s;
	transition-timing-function: ease-in-out;
}
.button:focus {
	outline: none;
}
.button:hover {
	background-color: var(--g-color-black);
}
@media (max-width: 575.888px) {
	input {
		min-width: 100%;
	}
}
