.addContact {
	display: flex;
	align-items: center;
	padding: 15px 20px;
	border: none;
	border-radius: 50px;
	background-color: var(--g-color-1);
	color: var(--g-color-white) !important;
	cursor: pointer;
	font-size: 1rem;
	text-decoration: none !important;
}

.addContact-hidden {
	width: 0;
	height: 0;
	display: inline-block;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	animation-timing-function: ease-in-out;
}

.addContact-icon {
	font-size: 1.5rem;
}

.addContact:hover .addContact-hidden {
	margin-right: 5px;
	animation-name: addContactAnim;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}
@keyframes addContactAnim {
	from {
		width: 0;
		height: 0;
	}
	to {
		width: 100px;
		height: auto;
	}
}

.ContactsEdit,
.ContactsDelete {
	border-radius: 10px;
	color: var(--g-color-white) !important;
}
.ContactsDelete {
	background-color: var(--g-color-red);
}
.Contacts-icon {
	margin-right: 5px;
}

.phone-numbers {
	display: flex;
	flex-direction: column;
}
.add-phone {
	margin: -15px 0 10px 0;
	font-size: .9rem;
	color: var(--g-color-1);
	cursor: pointer;
	transition: .2s;
}
.add-phone:hover {
	color: #004085;
}
.delete-input-icon {
	position: absolute;
	transform: translate(-25px, 15px);
	color: var(--g-color-red);
	cursor: pointer;
}
