:root {
	--g-color-white: #fff;
	--g-color-black: #333;
	--g-color-red: #f80018;
	--g-dark-red: #d50318;
	--g-color-grey: #666;
	--g-light-grey: #999;
	--g-line-grey: #e6e6e6;
	--g-light-blue: #dfeeff;
	--g-color-1: #007bff;
	--g-color-2: #57b846;
}
